<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>JAMJ Booking Service</span>
      </mat-toolbar-row>
  </mat-toolbar>

<mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form>
        <ng-template matStepLabel>Fill out your info</ng-template>
        
  <div class="example-container">
    <mat-form-field>
      <input [(ngModel)]="firstname" name="firstname" matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="lastname" name="lastname" matInput placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="email" name="email" matInput placeholder="Email">
    </mat-form-field>
  </div>
        <div>
          <button mat-button matStepperNext (click)="dispData()" >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form >
        <ng-template matStepLabel>Choose Date</ng-template>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious (click)="secondFormGroup.reset()">Back</button>
          <button mat-button (click)="getOpenApp()" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
        <form>
      <ng-template matStepLabel>Pick a Time!</ng-template>
      <div class="container">
        <app-employeelist (outputDate)="recieveTime($event)"(outputBarber)="recieveBarber($event)"[openApps]="openapps"></app-employeelist>
      </div>
      <div>
          <button mat-raised-button *ngIf="isTimeSelected" mat-button matStepperNext>Next</button>
        
      </div>
        </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirm Appointment</ng-template>
      <h1>Your Appointment Details:</h1>
      <h3>Name: {{firstname}} {{lastname}}</h3>
      <h3>Email: {{email}}</h3>
      <h3>Barber: {{barber}}</h3>
      <h3>Date: {{dateVal | date: 'MM-dd-yyyy'}}</h3>
      <h3>Time: {{selectedTime}}</h3>
      <button mat-raised-button (click) = "addBooking(); removeOpenApp();">Confirm</button>
  
  
    </mat-step>
  </mat-horizontal-stepper>